{{ define "main" }}
<div class="main-content w-100 w-75-ns mw9 center home">
  {{ range where .Data.Pages "Title" "Home" }}
      <article class="center cf pv4 pv5-ns ph4 ph5-ns">
        <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
          {{ .Content }}
        </div>
      </article>
  {{ end }}
  
  {{ range where .Data.Pages "Title" "Home-JP" }}
      <article class="center cf pv4 pv5-ns ph4 ph5-ns">
        <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
          {{ .Content }}
        </div>
      </article>
  {{ end }}
  {{ partial "site-contact-info.html" . }}
</div>
 {{ end }} 

{{ define "pre-footer"}}
  {{ range where .Data.Pages "Title" "Home"}}
    {{ if eq .Params.Layout "page-with-form"}}
      {{ partial "getquote-form" . }}
    {{else}}
      <div id="form"></div>
    {{ end }}
  {{end}}

  {{ range where .Data.Pages "Title" "Home-JP"}}
    {{ if eq .Params.Layout "page-with-form"}}
      {{ partial "getquote-form-jp" . }}
    {{else}}
      <div id="form"></div>
    {{ end }}
  {{end}}
{{ end }}
