{{ define "bg"}}
  {{ partial "site-bg-home.html" . }}
  {{ partial "site-bg-home-jp.html" . }}
{{ end }}
{{ define "main" }}
<div class="main-content w-100 w-70-ns mw9 center home">
  {{ range where .Data.Pages "Title" "Home" }}
      <article class="center cf pv5 ph5">
        <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
          {{ .Content }}
        </div>
      </article>
  {{ end }}
  
  {{ range where .Data.Pages "Title" "Home-JP" }}
      <article class="center cf pv5 ph5">
        <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
          {{ .Content }}
        </div>
      </article>
  {{ end }}
  {{ partial "site-contact-info.html" . }}
</div>
 {{ end }} 

 