{{ define "bg"}}
  {{ partial "site-bg.html" . }}
{{ end }}
{{ define "header" }}{{ partial "site-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="main-content w-100 w-75-ns mw9 center home">
    <article class="center cf pv4 pv5-ns ph3 ph5-ns">
      <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
        {{ .Content }}
      </div>
    </article>
    {{ partial "site-contact-info.html" . }}
  </div>
{{ end }}
{{ define "pre-footer"}}
  {{ $currentPage := . }}
  {{ if .IsTranslated }}
    {{ range $i, $e := .Translations }}
      {{ if eq $e.Language.LanguageName "Japanese" }}
        {{ partial "getquote-form.html" . }}
      {{ end }}
      
      {{ if eq $e.Language.LanguageName "English" }}
        {{ partial "getquote-form-jp.html" . }}
      {{ end }}
    {{ end}}
  {{ end }}
{{ end }}
