{{ define "bg"}}
  {{ partial "site-bg.html" . }}
{{ end }}
{{ define "header" }}{{ partial "site-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="main-content onpageform w-100 w-75-ns mw9 center home">
    <article class="center cf pv4 pv5-ns ph4 ph5-ns">
      <div class="nested-copy-line-height lh-copy f5 f4-ns nested-links nested-img mid-gray">
        {{ .Content }}
      </div>
      <div id="onPageForm">
      {{ $currentPage := . }}
      {{ if .IsTranslated }}
        {{ range $i, $e := .Translations }}
          {{ if eq $e.Language.LanguageName "Japanese" }}
            {{ partial "getquote-form.html" . }}
          {{ end }}
          
          {{ if eq $e.Language.LanguageName "English" }}
            {{ partial "getquote-form-jp.html" . }}
          {{ end }}
        {{ end}}
      {{ end }}
      </div>
    </article>
    
    {{ partial "site-contact-info.html" . }}

  </div>
{{ end }}