/* Put your custom styles here and run `npm start` from the "src" directory on */



*{
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:link, a:active, a:visited{
  color: #367D9A;
}
.nested-links a:hover{
  color: #00a5dd;
}

body, html{
  font-family: 'Ubuntu', sans-serif;
}

html{
  background-color: #0e1c32;
}

body:before{
  content: '';
  position: absolute;
  z-index: -1;
  top: 0; left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(to bottom, rgba(16, 30, 63, 0.6) 0%, rgba(16, 30, 63, 0) 100%);
  
}
.nested-img figure.polaroid{
  width: 34%;
  padding: 1em;
  box-shadow: 1px 1px 9px rgba(50,50,50,0.3);
  float: left;
  margin: 1.8em 2.4em 1em -0.5em ;
  transform: rotate(-2deg);
}
.nested-img figure.polaroid h4{
  font-weight: 500;
  text-transform: none;
}
.nested-img figure.polaroid p{
  margin: 0; line-height: 1;
  white-space: normal;
  font-style: italic;
  color: #387E99;
  font-size: 1rem;
}
.nested-img figure.polaroid + p{
  margin-top: 2em;
}
.nested-img figure.polaroid + p + p + h3{
  clear: both;
  padding-top: 2em;
}
blockquote{
  margin-left: 1.5em;
}
blockquote p{
  position: relative;
  font-style: italic;
}
blockquote p:before{
  content: '\201C';
  font-weight: 800;
  font-size: 2.8em;
  font-family: Georgia;
  position: absolute;
  left: -34px;
  opacity: 0.2;
  top: -20px;
  font-style: normal;
}
.hidden{
  opacity: 0;
}
.bg, .bgnew{
  position: fixed;
  top: 0; left: 0;
  z-index: -2;
  min-width: 100%;
  min-height: 100%;
  transition: 1.8s;
  background-size: 100%;
}

.logo{
  position: relative;
  display: block;
  margin: 1.7em auto 1.4em;
  text-align: center;
  z-index: 1;
  height: 40vh;
  min-height: 100px;
  max-height: 154px;
}
.main-nav{
  max-width: 1060px;
  @media (max-width:40em){
   & ul{
      flex-basis: 100%;
      flex-grow: 1;
      flex-direction: column;
      & li{
        width: 100%;
      }
    }
  }
}
.main-nav li{
  transition: 0.3s all;
}
.main-nav a{
  color: #fff;
  text-decoration: none;
  border-top: 1px solid rgba(255,255,255,0.2);
  padding: 10px;
  display: block;
  font-size: 0.95rem;
  padding: 1.3em;
  text-align: center; 
  transition: 0.3s all;
  font-weight: 300;
  letter-spacing: 0.04em;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  transition: 0.3s all;
  white-space: nowrap;
}
.main-nav a:hover{
  background: rgba(255,255,255,0.1);
}
.main-nav .selected a{
  position: relative;
  border-top: 1px solid #fff;
  &:before{
    content: '';
    width: 100%;
    position: absolute;
    top: -2px;
    left: 0;
    height: 2px;
    background: #fff;
    opacity: 0;
    animation: 0.5s fadeIn forwards 1;
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
#mainContent{
  margin-bottom: 17em;
}
.main-content{
  background: #fff;
  margin-bottom: 10em;
  font-weight: 300;
  max-width: 1060px;
  & h1{
    margin-top: 0;
  }
  & article{
    opacity: 0;
    animation: 1.8s fadeIn forwards 1;
  }
}

.nested-copy-line-height p{
  white-space: pre-wrap;
}

.home h1{
  color: #143953;
  font-size: 1.9em;
  margin-bottom: 0;
  letter-spacing: -0.03em;
  line-height: 1; 
}

.home{
  line-height: 1;
  box-shadow: 0px 2px 9px rgba(90,90,90,0.4);
}
.home ul{
  font-weight:300;
  max-width: 42em;
  padding: 1px 0 1em 1em;
  clear: both;
}
.home ul em{
  font-size: 0.72em;
  margin-bottom: 10px;
  margin-top: -2px;
  display: block;
}
.home h1 em{
  text-transform: uppercase;
  border-bottom: 1px solid #143953;
  font-style: normal;
  font-size: 0.5em;
  position: relative;
  bottom: 0.26em;
}

.home h2{
  color: #367D9A;
  font-weight: 300;
  font-size: 1.37em;
  letter-spacing: 0.01em;
  margin: 0.2em 0 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #367D9A;
  line-height: 1.25;
}
.home h2 em{
  position: relative;
  left: -1px;
}

.nzsti{
  float: left;
  background: #367D9A;
  padding: 1.4em;
  border-radius: 4px;
  width: 230px;
  color: #fff;
  & a{
    color: #fff;
    text-decoration: none;
    &:hover{
       text-decoration: underline;
    }
  }
}
.nzsti h6{
  font-size: 1.6em;
  font-weight: 600;
  
  margin: 0;
}
.nzsti em{
  margin-top: 3px;
  font-size: 0.8rem;
  display: block;
  font-weight: 300;
  line-height: 1.1;
}

footer a{
  color: rgba(255,255,255,0.6) !important;
}
.pre-footer{
}


.phnumbers{
  color: #367D9A;
  font-weight: 600;
  font-size: 1.9em;
  padding: 0.85em 0 0.75em;
  border-top: 1px solid rgba(54, 125, 154, 0.29);
  border-bottom: 1px solid rgba(54, 125, 154, 0.29);
}
.phnumbers h6{
  margin: 0 0 6px 0;
}
.phnumbers strong{
  text-transform: uppercase;
  font-weight: 300;
  padding-right: 1em;
  width: 80px;
  display: inline-block;
  font-size: 0.9em;
}
.phnumbers span{
  text-align: right;
  padding-left: 10px;
}

#languages{
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  text-transform: uppercase;
}
#languages a{
  color: #fff;
  background: rgba(0,0,0,0.1);
  padding: 6px 15px;
  display: inline-block;
  text-decoration:none;
  font-size: 0.8rem;
  opacity: 0.4;
  &.selected{
    background: rgba(0,0,0,0.4);
    opacity: 1;
  }
  &:first-child{
    border-radius: 0 0 0 6px
  }
}

@keyframes slideIn{
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
.done{
  animation: slideIn 0.8s forwards;
  display: block !important;
}
.form-container{
  background: rgba(23, 53, 77, 0.95);
  padding-top: 2em;
  position: relative;
  & #thanksMessage{
    display: none;
    position: absolute;
    bottom: -40px;
    color: #fff;
    background: #07b699;
    border: 1px solid #29474647;
    border-radius: 3px;
    padding: 0 10px;
    width: 100%;
    font-size: 1.3em;
    text-align: center;
  }
  & h5{
    color: #fff;
    font-weight: 700;
    font-size: 1.6rem;
    padding-left: 0.5em;
    margin: 0 0 0.2em;
    text-transform: none;
    font-size: 1.4rem;
    background: none;
    & + span{
      color: #fff;
    }
  }
  & .form{
    max-width: 1060px;
  }
}
.form-container .field{
  border: none;
  & .input{
    border-radius: 3px;
    padding: 0.8em;
    background: rgba(255,255,255,0.14);
    color: #fff;
    border: 0;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2rem;
    outline: none;
    &:hover{
      background: rgba(255,255,255,0.11);
    }
    &::placeholder{
      color: rgba(255,255,255,0.46);
      font-style: italic;
      font-weight: 300;
    }
  }
  & .textarea{
    height: 35vh;
  }
}
/* overrides */
article{
  & h5 + h4{
    margin: 0 0 2em;
  }
  & .form-container{
    background: none;
    & h5{
      color: rgba(23, 53, 77, .95);
      padding-left: 0;
      & + span{
        color: rgba(23, 53, 77, .95);
      }
    }
    & fieldset{
      padding-left: 0;
      padding-right: 0;
    }
    & .field{
      & .input{
        color: rgba(23, 53, 77, .95);
        border: 1px solid rgba(23, 53, 77, .15);
        &:hover{
          background: rgba(23, 53, 77, .15);
        }
        &::placeholder{
          color: rgba(23, 53, 77, .55);
          font-style: italic;
          font-weight: 300;
        }
      }
    }
    & form{
      width: 100% !important;
    }
    & .uploadcare--widget__button{
      color: rgba(23, 53, 77, .95);
      position: relative;
      margin-left: 0;
      border-color: rgba(13, 135, 175,0.1);
      &:before{
        background: url('/images/attach.png') no-repeat;
        background-size: 100%;
      }
      &:hover{
        background: rgba(13, 135, 175, 0.14) !important;
        border-color: rgba(13, 135, 175,0.2);
      }
    }
  }
}
.uploadcare--widget__button{
  padding: 9px 19px 9px 30px;
  position: relative;
  margin-left: 13px;
  margin-bottom: 6px;
  border: 1px solid rgba(255,255,255,0.1);
  cursor: pointer;
  &:hover{
    background: #0d87af80 !important;
    border-color: transparent;
  }
   &:before{
    content:'';
    background: url('/images/attach-white.png') no-repeat;
    position: absolute;
    left: 8px;
    top: 5px;
    width: 13px; 
    height: 24px;
    background-size: 100%;
  }
}
.uploadcare--widget__button_type_open:focus, .uploadcare--widget__button_type_open:hover, 
.uploadcare--widget__button_type_open{
  background: none;
  font-family: 'Ubuntu', Sans-serif;
  font-style: italic
}

input.submit{
  cursor: pointer;
  background: #0D87AF;
  color: #fff;
  padding: 11px 19px;
  border: none;
  border-radius: 4px;
  font-family: 'Ubuntu', Sans-serif;
  font-weight: 800;
  margin-bottom: 5em;
  transition: 0.3s all;
  &:hover{
    background: #1a517c;
  }
}
article{
  & h4, & h5{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.95rem;
    margin-bottom: 0;
    margin-top: 1.9em;
    & + p{
      margin-top: 0;
    }
  }
  & h5{
    background: #8abeda59;
    padding: 3px 14px;
    display: inline-block;
    margin-left: -13px;
    margin-bottom: 4px;
    letter-spacing: 0.03em;
    border-radius: 1em;
  }
}

.homefeatures{
  flex: 1 1;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: flex-end;
  padding-top: 2.2em;
  margin-bottom: 2em;
  flex-wrap: wrap;
  flex-grow: 1;
  @media (min-width: 82em){
    flex-grow: 0;
  }
}
.homefeature{
  flex-basis: 100%;
  margin: 0 0 0.6em;
  min-width: 320px;
  @media (min-width: 70em){
    flex-basis: calc(50% - 0.4em);
    
  }
 
  @media (min-width: 82em){
    flex-basis: calc(25% - 0.5em);
    margin: 0;
    min-width: 0;
  }
  & .content{
    padding: 8px 12px;
    border-radius: 0.4em;
    box-shadow: 0px 1px 4px #ccc;
    background: linear-gradient(to bottom, #fff 0%, #EDF0F2 100%);
    border-bottom: 2px solid #153b54;
    min-height: 82px;
    position: relative;
    @media (min-width: 82em){
      min-height: 137px;
    }
    & img{
      position: absolute;
      right: 13px;
      bottom: 16px;
      &.nzta{
        width: 46px;
        height: 32px;
      }
      &.nzqa{
        width: 45px;
        height: 39px;
      }
      &.immigration{
        width: 31px;
        height: 44px;
      }
      &.medical{
        width: 38px;
        height: 41px;
      }
    }
  }
  & h3{
    color: #153b54;
    line-height: 1;
    font-size: 1.1rem;
    padding-right: 2.8em;
    margin-top: 4px;
  }
  & p{
    color: #153b54;
    line-height: 1.1;
    font-size: 0.85rem;
    padding-right: 5em;
    position: absolute;
    left: 10px;
    bottom: 3px;
  }
}