<div class="homefeatures">
  <div class="homefeature">
    <div class="content">
      <img class="nzqa" src="https://kuakatranslations.co.nz/images/nzqa.svg" alt="" role="presentation"/>
      <h3 id="certified-translations">Certified Translations</h3>
    </div>
    <p>
      Family registrations, work certificates, diplomas, letters etc.
      (NZQA,Immigration NZ)
    </p>
  </div>
  <div class="homefeature">
    <div class="content">
      <img class="nzta" src="https://kuakatranslations.co.nz/images/nzta.svg" alt="" role="presentation"/>
      <h3 id="translations-for-nzta">Translations for NZTA</h3>
    </div>
    <p>Drivers Licences</p>
  </div>

  <div class="homefeature">
    <div class="content">
      <img
        class="immigration"
        src="https://kuakatranslations.co.nz/images/immigration.svg"
        alt=""
        role="presentation"
      />
      <h3 id="naati-certified-translations">NAATI-Certified Translations</h3>
    </div>
    <p>Personal documents issued with a NAATI stamp for use in Australia</p>
  </div>
  <div class="homefeature">
    <div class="content">
      <img
        class="medical"
        src="https://kuakatranslations.co.nz/images/medical.svg"
        alt=""
        role="presentation"
      />
      <h3 id="medical-translations">Medical Translations</h3>
    </div>
    <p>Medical records, medical journal articles etc.</p>
  </div>
</div>
