<div id="form" class="form-container">
  <form class="w-100 w-75-ns mw9 center form" id="contactform" action="https://usebasin.com/f/cbd0c31fbdc8.json" method="POST">
    {{if (eq .Title "お問い合わせ")}}
    <h5>Get In Touch</h5>
    {{else}}
    <h5>Translation Quote Form</h5>
    {{end}}
      <fieldset class="field">
          <input class="input" type="text" name="name" placeholder="Your Name" required>
      </fieldset>
      <fieldset class="field">
          <input class="input" type="email" name="email" placeholder="Your Email" required>
      </fieldset>
      <fieldset class="field">
          <input class="input" type="phone" name="phone" placeholder="Your Phone Number" required>
      </fieldset>
      <fieldset class="field">
          <textarea class="input textarea" name="message" rows="1" placeholder="Translation Requirements" required></textarea>
      </fieldset>
      <input type="hidden" id="uploader" role="uploadcare-uploader" name="content"
       data-crop="disabled" />
       <span class="white">(max 1MB)</span>
      <fieldset class="field">
          <input class="button submit" type="submit" value="Send">
      </fieldset>
  </form>
  <div id="thanksMessage">
    <p>Thanks for contacting us, we will get back to you as soon as possible.</p>
  </div>
</div>
