<footer class="bg-near-black bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f5 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
    &copy; {{ now.Format "2006" }} {{ .Site.Title }}
  </a>
  {{ partial "social-follow.html" . }}
  <div  class="f5 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3 fr" >
    Designed &amp; built by <a class="no-underline ttu" href="http://cssandstuff.com/" target="_blank">css&amp;stuff</a>
  </div>
  </div>
</footer>
