<div class="d-block cf pre-footer ph5 pb5">
    <div class="nzsti fl">
      <a title="Kuaka Translations is a member of the New Zealand Society of Translators and Interpreters" href="https://www.nzsti.org/" target="_blank">
      <h6>NZSTI Member
        <em>New Zealand Society of Translators and Interpreters</em>
      </h6>
      </a>
    </div>
    <div class="phnumbers fr">
      <h6><strong>PHONE:</strong><a href="tel:+6498139332"><span class="international">+64</span><span class="fr">9 813 9332</a></span></a></h6>
      <h6><strong>MOBILE:</strong><a href="tel:+64211237042"><span class="international">+64</span> <span class="fr" >21 123 7042</span></a></h6>
    </div>
</div>